<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="FilePath" value="C:\Users\mythr\OneDrive\Desktop\.Net class\Sample"/>
		<add key="Email" value="abc@gmail.com"/>
		<add key="MaxFileSize" value="10"/>
	</appSettings>
</configuration>